<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Python-DJango Image Uploader</title>
</head>

<body>
    <h1>Upload IMAGE</h1>
    <form action="/upload" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <label>File Name</label>
        <input name="file_name">
        <label>Upload File</label>
        <input type="file" name="image">
        <button type="submit">Submit</button>
    </form>
    <h1>Uploaded Images</h1>
    {%for file in all_files %}
    <p>{{file.file_name}}</p>
    <img src="{{file.image.url}}" style="height: 400px; width: 400px;">
    {% endfor %}

</body>

</html>